In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.22.3)
Requirement already satisfied: pandas in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/sample-userDetails.csv"
data = pd.read_csv(url, encoding='latin-1')

In [3]:
data.head(2)

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,Model,RAM,Processor
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus Zenbook 14 UX425,16GB,Intel Core i5
1,3/9/2022 12:59:31,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus Vivobook Pro 15 OLED,8GB,Intel Core i5

# Drop unnecessary columns

In [5]:
data = data.drop(columns=['Timestamp'])

In [6]:
data.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,Model,RAM,Processor
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus Zenbook 14 UX425,16GB,Intel Core i5
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus Vivobook Pro 15 OLED,8GB,Intel Core i5

# Data Analysis

In [7]:
data.isnull().sum()

Gender                  0
Age Range               0
Occupation              0
Monthly Income Range    0
Laptop Brand            0
Model                   0
RAM                     0
Processor               0
dtype: int64

In [8]:
data['RAM'] = data['RAM'].str.replace('GB','').astype('int32')

# Laptop Brand

In [9]:
data['Laptop Brand'].value_counts()

Dell                  70
HP                    64
Asus                  35
Accer                 31
Lenovo                12
Apple                  7
Toshiba                3
MSI                    2
Samsung                1
Singer                 1
Fujitsu Lifebook A     1
Acer                   1
Name: Laptop Brand, dtype: int64

In [10]:
def add_company(inpt):
    if inpt == 'Lenovo' or inpt == 'Apple' or inpt == 'Toshiba' or inpt == 'MSI'or inpt == 'Samsung'or inpt == 'Singer'or inpt == 'Fujitsu Lifebook A'or inpt == 'Acer':
        return 'Other'
    else:
        return inpt

In [11]:
data['Laptop Brand'] = data['Laptop Brand'].apply(add_company)

In [12]:
data['Laptop Brand'].value_counts()

Dell     70
HP       64
Asus     35
Accer    31
Other    28
Name: Laptop Brand, dtype: int64

# Occupation

In [13]:
data['Occupation'].value_counts()

Undergraduate                  79
Student                        66
Software engineer              18
Senior software engineer       15
Associate software engineer    11
Teacher                        11
Associate technical lead        7
Technical lead                  7
QA engineer                     4
Doctor                          4
UI/UX engineer                  3
DevOps Engineer                 1
Public Service Officer          1
Business Operations Manager     1
Name: Occupation, dtype: int64

In [14]:
def add_occupation(inpt):
    if inpt == 'Undergraduate':
        return inpt
    elif inpt == 'Student':
        return inpt
    elif inpt == 'Software engineer':
        return inpt
    elif inpt == 'Senior software engineer':
        return inpt
    elif inpt == 'Associate software engineer':
        return inpt
    else:
        return 'Other'

In [15]:
data['Occupation'] = data['Occupation'].apply(add_occupation)

In [16]:
data['Occupation'].value_counts()

Undergraduate                  79
Student                        66
Other                          39
Software engineer              18
Senior software engineer       15
Associate software engineer    11
Name: Occupation, dtype: int64

In [17]:
data['Gender'].value_counts()

Male      137
Female     91
Name: Gender, dtype: int64

In [18]:
data['Age Range'].value_counts()

21 - 30    141
10 - 20     59
31 - 40     24
41 - 50      4
Name: Age Range, dtype: int64

In [19]:
data['Monthly Income Range'].value_counts()

Unpaid            121
50k - 100k         26
10k - 50k          26
More than 250k     20
100k - 150k        15
150k - 200k        12
200k - 250k         8
Name: Monthly Income Range, dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                228 non-null    object
 1   Age Range             228 non-null    object
 2   Occupation            228 non-null    object
 3   Monthly Income Range  228 non-null    object
 4   Laptop Brand          228 non-null    object
 5   Model                 228 non-null    object
 6   RAM                   228 non-null    int32
 7   Processor             228 non-null    object
dtypes: int32(1), object(7)
memory usage: 13.5+ KB

In [21]:
def set_processor(name):
    if name == 'Intel Core i7':
        return name
    elif name == 'Intel Core i5':
        return name
    elif name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'

In [22]:
data['Processor'] = data['Processor'].apply(set_processor)

In [23]:
data['Processor'].value_counts()

Intel Core i5    91
Intel Core i3    53
Intel Core i7    36
AMD              29
Other            19
Name: Processor, dtype: int64

In [24]:
data.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,Model,RAM,Processor
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus Zenbook 14 UX425,16,Intel Core i5
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus Vivobook Pro 15 OLED,8,Intel Core i5

# Label-Hot Encoding

In [25]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [25]:
data.shape

(228, 8)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                228 non-null    object
 1   Age Range             228 non-null    object
 2   Occupation            228 non-null    object
 3   Monthly Income Range  228 non-null    object
 4   Laptop Brand          228 non-null    object
 5   Model                 228 non-null    object
 6   RAM                   228 non-null    int32
 7   Processor             228 non-null    object
dtypes: int32(1), object(7)
memory usage: 13.5+ KB

In [27]:
data['Model'].value_counts()

Dell Vostro 3400              32
HP 15s-DU1114Tu               24
Dell Inspiron 5510            21
HP Victus 16- D0445TX         18
ACER A515-1135G7              18
HP 15s-DU3561TU               13
Aspire 3                      12
Asus Vivobook Pro 15 OLED     11
Asus Zenbook 14 UX425         11
HP Victus 16- D0445TX          9
Asus X515JA                    8
Dell Inspiron 5511             8
Lenovo Legion 5                7
MacBook Pro                    6
Dell Vostro 3401               6
Asus Vivobook Pro 15 OLED      5
Lenovo Legion 3                5
Satellite Pro                  3
MSI GF63 Thin 11UC             2
Dell Vostro 3399               1
Dell Inspiron 5509             1
Dell Inspiron 5512             1
ACER A515-1135G9               1
FL 3400-11369                  1
Singer S457-1139G6             1
Chromebook 3                   1
ACER A515-1135G8               1
MacBook Air                    1
Name: Model, dtype: int64

# Model Building and Selection

In [28]:
y = data['Model']

In [29]:
x = data.drop('Model', axis=1)

In [30]:
y.head(2)

0         Asus Zenbook 14 UX425
1    Asus Vivobook Pro 15 OLED
Name: Model, dtype: object

# One Hot Encoding

In [31]:
x = pd.get_dummies(x)

In [32]:
x.head()

,RAM,Gender_Female,Gender_Male,Age Range_10 - 20,Age Range_21 - 30,Age Range_31 - 40,Age Range_41 - 50,Occupation_Associate software engineer,Occupation_Other,Occupation_Senior software engineer,...,Laptop Brand_Accer,Laptop Brand_Asus,Laptop Brand_Dell,Laptop Brand_HP,Laptop Brand_Other,Processor_AMD,Processor_Intel Core i3,Processor_Intel Core i5,Processor_Intel Core i7,Processor_Other
0,16,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
1,8,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
2,4,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,16,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
4,8,0,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [33]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [34]:
x.head(2)

,RAM,Gender_Female,Gender_Male,Age Range_10 - 20,Age Range_21 - 30,Age Range_31 - 40,Age Range_41 - 50,Occupation_Associate software engineer,Occupation_Other,Occupation_Senior software engineer,...,Laptop Brand_Accer,Laptop Brand_Asus,Laptop Brand_Dell,Laptop Brand_HP,Laptop Brand_Other,Processor_AMD,Processor_Intel Core i3,Processor_Intel Core i5,Processor_Intel Core i7,Processor_Other
0,16,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
1,8,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0

In [38]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [39]:
# # DecisionTreeClassifier
# from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier()
# model.fit(x_train, y_train)

# # DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# model2 = RandomForestClassifier()
# model2.fit(x_train, y_train)

In [40]:
# pred = model.predict(x_test)
# pred2 = model2.predict(x_test)

In [41]:
# from sklearn.metrics import accuracy_score
# accuracy_score(y_test, pred)
# accuracy_score(y_test, pred2)

In [42]:
# model.predict([[1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

# Divide dataset into training and testing set

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [36]:
x_train.shape, x_test.shape

((171, 30), (57, 30))

# Model training

In [37]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [56]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
model_acc(dt)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model_acc(rf)

# from sklearn.naive_bayes import MultinomialNB
# nb = MultinomialNB()
# model_acc(nb)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
model_acc(clf)

# from sklearn.linear_model import RidgeClassifier
# rc = RidgeClassifier()
# model_acc(rc)

DecisionTreeClassifier() --> 0.40350877192982454
RandomForestClassifier() --> 0.3684210526315789
MLPClassifier() --> 0.3508771929824561

C:\Users\HP\Desktop\MY\Machine-Learning\LaptopRecommendation System\model\env\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [52]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_train, y_train)

StandardScaler()

In [57]:
# # result = sc.s(x_test, y_test)
# !pip instrall 
# print("Accuracy:", metrics.accuracy_score(y_test,y))
# y_testX=y_test.astype(int)
# y_testX

In [51]:
# Fitting the ANN to the Training set

In [47]:
# from sklearn.multioutput import MultiOutputClassifier
# from sklearn.ensemble import RandomForestClassifier
# forest = RandomForestClassifier(random_state=1)
# multi_target_forest = MultiOutputClassifier(forest, n_jobs=-1)
# # multi_target_forest.fit(x_train, y_train).predict([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [86]:
x_test.columns

Index(['RAM', 'Gender_Female', 'Gender_Male', 'Age Range_10 - 20',
       'Age Range_21 - 30', 'Age Range_31 - 40', 'Age Range_41 - 50',
       'Occupation_Associate software engineer', 'Occupation_Other',
       'Occupation_Senior software engineer', 'Occupation_Software engineer',
       'Occupation_Student', 'Occupation_Undergraduate',
       'Monthly Income Range_100k - 150k', 'Monthly Income Range_10k - 50k',
       'Monthly Income Range_150k - 200k', 'Monthly Income Range_200k - 250k',
       'Monthly Income Range_50k - 100k',
       'Monthly Income Range_More than 250k', 'Monthly Income Range_Unpaid',
       'Laptop Brand_Accer', 'Laptop Brand_Asus', 'Laptop Brand_Dell',
       'Laptop Brand_HP', 'Laptop Brand_Other', 'Processor_AMD',
       'Processor_Intel Core i3', 'Processor_Intel Core i5',
       'Processor_Intel Core i7', 'Processor_Other'],
      dtype='object')

In [ ]:
pred_value = nb.predict([[16, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0]])
pred_value

# SMOTE Technique

In [93]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.9.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.22.3)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.1.0)

In [95]:
# from imblearn.over_sampling import SMOTE
# smote = SMOTE()
# x_smote, y_smote = smote.fit_resample(x, y)

In [96]:
from imblearn.over_sampling import RandomOverSampler
oversample = RandomOverSampler()
x_over, y_over = oversample.fit_resample(x, y)

In [107]:
y_over.value_counts()

Asus Zenbook 14 UX425         32
Asus Vivobook Pro 15 OLED     32
Dell Vostro 3399              32
Dell Inspiron 5509            32
Lenovo Legion 5               32
Dell Inspiron 5512            32
Asus Vivobook Pro 15 OLED     32
FL 3400-11369                 32
Singer S457-1139G6            32
Satellite Pro                 32
Lenovo Legion 3               32
HP Victus 16- D0445TX         32
Chromebook 3                  32
Dell Vostro 3401              32
ACER A515-1135G9              32
ACER A515-1135G8              32
Dell Inspiron 5511            32
HP 15s-DU3561TU               32
HP Victus 16- D0445TX         32
MacBook Pro                   32
HP 15s-DU1114Tu               32
ACER A515-1135G7              32
Asus X515JA                   32
Dell Vostro 3400              32
Aspire 3                      32
MSI GF63 Thin 11UC            32
Dell Inspiron 5510            32
MacBook Air                   32
Name: Model, dtype: int64

In [58]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [59]:
from sklearn.model_selection import train_test_split
x_over_train, x_over_test, y_over_train, y_over_test = train_test_split(x, y, test_size = 0.25)

In [62]:
dt.fit(x_over_train, y_over_train)
accb = dt.score(x_over_test, y_over_test)
print(str(dt)+ ' --> ' +str(accb))

DecisionTreeClassifier() --> 0.3684210526315789

In [112]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_over))

Before SMOTE : Counter({'Dell Vostro 3400': 23, 'HP 15s-DU1114Tu': 22, 'Dell Inspiron 5510': 14, 'HP Victus 16- D0445TX ': 13, 'ACER A515-1135G7': 11, 'HP 15s-DU3561TU': 11, 'Aspire 3': 9, 'Asus Zenbook 14 UX425': 8, 'Asus Vivobook Pro 15 OLED ': 8, 'HP Victus 16- D0445TX': 7, 'Dell Inspiron 5511': 6, 'MacBook Pro': 6, 'Asus X515JA': 5, 'Asus Vivobook Pro 15 OLED': 5, 'Dell Vostro 3401': 5, 'Lenovo Legion 5': 4, 'Lenovo Legion 3': 4, 'MSI GF63 Thin 11UC': 2, 'Satellite Pro': 2, 'ACER A515-1135G8': 1, 'Dell Inspiron 5512': 1, 'Dell Inspiron 5509': 1, 'Dell Vostro 3399': 1, 'Singer S457-1139G6': 1, 'ACER A515-1135G9': 1})
After SMOTE : Counter({'Asus Zenbook 14 UX425': 32, 'Asus Vivobook Pro 15 OLED ': 32, 'Dell Inspiron 5510': 32, 'MSI GF63 Thin 11UC': 32, 'Aspire 3': 32, 'Dell Vostro 3400': 32, 'Asus X515JA': 32, 'ACER A515-1135G7': 32, 'HP 15s-DU1114Tu': 32, 'MacBook Pro': 32, 'HP Victus 16- D0445TX ': 32, 'HP 15s-DU3561TU': 32, 'Dell Inspiron 5511': 32, 'ACER A515-1135G8': 32, 'ACER A515-1135G9': 32, 'Dell Vostro 3401': 32, 'Chromebook 3': 32, 'HP Victus 16- D0445TX': 32, 'Lenovo Legion 3': 32, 'Satellite Pro': 32, 'Singer S457-1139G6': 32, 'FL 3400-11369': 32, 'Asus Vivobook Pro 15 OLED': 32, 'Dell Inspiron 5512': 32, 'Lenovo Legion 5': 32, 'Dell Inspiron 5509': 32, 'Dell Vostro 3399': 32, 'MacBook Air': 32})

In [115]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [116]:
model.fit(x_over_train, y_over_train)
accb = model.score(x_over_test, y_over_test)
print(str(model)+ ' --> ' +str(accb))

KNeighborsClassifier() --> 0.22807017543859648