In [1]:
!pip install numpy
!pip install pandas
!pip install sklearn

Requirement already satisfied: numpy in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.22.3)
Requirement already satisfied: pandas in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)

In [2]:
import numpy as np
import pandas as pd

In [47]:
url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
# url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/sample_laptops.csv"
data = pd.read_csv(url, encoding='latin-1')

In [48]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,Unnamed: 11
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0,NaN
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0,NaN

# Drop unnecessary columns

In [49]:
data = data.drop(columns=['Unnamed: 11'])

In [50]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0

# Data Analysis

In [51]:
data.isnull().sum()

Brand               0
Model               0
Processor           0
RAM                 0
Storage Capacity    0
Display Size        0
OS                  0
GPU                 0
Weight              0
Warranty            0
Price               0
dtype: int64

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             1462 non-null   object
 1   Model             1462 non-null   object
 2   Processor         1462 non-null   object
 3   RAM               1462 non-null   object
 4   Storage Capacity  1462 non-null   object
 5   Display Size      1462 non-null   object
 6   OS                1462 non-null   object
 7   GPU               1462 non-null   object
 8   Weight            1462 non-null   float64
 9   Warranty          1462 non-null   int64
 10  Price             1462 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 125.8+ KB

In [53]:
data['Display Size'] = data['Display Size'].str.replace('"','').astype('float64')
data['RAM'] = data['RAM'].str.replace('GB','').astype('int32')

In [54]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8,1TB,15.6,Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows 11,Intel,1.7,2,172000.0

In [55]:
# Brand
data['Brand'].value_counts()

Dell         337
Lenovo       308
HP           274
Asus         198
Acer         108
MSI           73
Toshiba       48
Hp            40
Apple         25
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Brand, dtype: int64

In [56]:
def set_brand(inpt):
    if inpt == 'Dell':
        return inpt
    elif inpt == 'Asus':
        return inpt
    elif inpt == 'Hp' or inpt == "HP":
        return 'Hp'
    elif inpt == 'Lenovo':
        return inpt
    elif inpt == 'Acer':
        return inpt
    else:
        return 'Other'

In [57]:
data['Brand'] = data['Brand'].apply(set_brand)

In [58]:
data['Brand'].value_counts()

Dell      337
Hp        314
Lenovo    308
Asus      198
Other     197
Acer      108
Name: Brand, dtype: int64

In [59]:
# Processor
data['Processor'].value_counts()

Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
intel Core i5                      1
Intel Core M 7Y30 1.0GHz           1
Intel Xeon E3-1535M v6 3.1GHz      1
Intel Celeron                      1
ATHLON 3050U                       1
Name: Processor, Length: 138, dtype: int64

In [60]:
data['cpu_name'] = data['Processor'].apply(lambda x:" ".join(x.split()[0:3]))

In [61]:
data['cpu_name'].value_counts()

Intel Core i7               563
Intel Core i5               457
Intel Core i3               151
Intel Celeron Dual           80
Intel Pentium Quad           27
AMD Ryzen 7                  23
AMD Ryzen 5                  20
Intel Core M                 19
AMD A9-Series 9420           12
Intel Celeron Quad            8
AMD A6-Series 9220            8
AMD A12-Series 9720P          7
AMD Ryzen 3                   6
Intel Atom x5-Z8350           5
AMD Ryzen 9                   4
AMD A8-Series 7410            4
Intel Atom x5-Z8550           4
Comet Lake i7                 4
AMD Ryzen 1700                3
Intel Pentium Dual            3
AMD A9-Series 9410            3
M1                            3
Intel Celeron                 3
Tiger Lake i7                 3
AMD E-Series E2-9000e         2
Intel Xeon E3-1535M           2
AMD E-Series 7110             2
AMD A10-Series 9620P          2
AMD A10-Series 9600P          2
AMD A6-Series A6-9220         2
AMD A10-Series A10-9620P      2
AMD A9-Series A9-9420         2
Intel Xeon E3-1505M           2
Tiger Lake i5                 2
Intel Atom X5-Z8350           2
AMD A4-Series 7210            1
AMD FX 8800P                  1
Intel Atom Z8350              1
AMD A6-Series 7310            1
AMD E-Series E2-9000          1
Samsung Cortex A72&A53        1
AMD E-Series 9000             1
AMD A12-Series 9700P          1
AMD Athlon Silver             1
AMD Ryzen 1600                1
Intel Atom x5-Z8300           1
intel Core i5                 1
Pentium Silver                1
AMD E-Series 9000e            1
AMD E-Series 6110             1
AMD FX 9830P                  1
Comet Lake i5                 1
M1 CHIP 8C                    1
AMD E-Series E2-6110          1
ATHLON 3050U                  1
Name: cpu_name, dtype: int64

In [62]:
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'

In [63]:
data['cpu_name'] = data['cpu_name'].apply(set_processor)

In [64]:
data['cpu_name'].value_counts()

Intel Core i7    563
Intel Core i5    457
Other            175
Intel Core i3    151
AMD              116
Name: cpu_name, dtype: int64

In [65]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,cpu_name
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8,1TB,15.6,Windows 11,Intel,1.7,2,99000.0,Other
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows 11,Intel,1.7,2,172000.0,Intel Core i5

In [66]:
# Ram
data['RAM'].value_counts()

8     714
4     400
16    235
6      41
12     25
2      22
32     21
24      3
64      1
Name: RAM, dtype: int64

In [67]:
#  Storage Capacity
data['Storage Capacity'].value_counts()

256GB SSD                        434
1TB HDD                          224
512GB SSD                        195
500GB HDD                        132
128GB SSD +  1TB HDD              94
128GB SSD                         82
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
1TB SSD                           33
1TB                               20
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
256GB SSD +  2TB HDD              10
1TB Hybrid                         9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
1GB SSD                            5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
1TB                                3
256GB SSD +  500GB HDD             2
512GB                              2
512GB Flash Storage                2
128GB SSD +  2TB HDD               2
1TB SSD +  1TB HDD                 2
1TB + 256GB SSD                    2
256GB SSD +  256GB SSD             2
512GB SSD                          2
32GB HDD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
512GB SSD +  1TB Hybrid            1
1TB HDD +  1TB HDD                 1
2TB SSD                            1
64GB Flash Storage +  1TB HDD      1
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB SSD                           1
 512GB SSD                         1
128Gb SSD                          1
1TB SSD + 256GB SSD                1
512Gb SSD                          1
256GB SSD + 1TB                    1
256GB SSD +  1TB Hybrid            1
Name: Storage Capacity, dtype: int64

In [68]:
def set_storage(name):
    if name == '512GB SSD' or name == '256GB SSD' or name == '1TB' or name == '1TB SSD':
        return name
    else:
        return 'Other'

In [69]:
data['Storage Capacity'] = data['Storage Capacity'].apply(set_storage)

In [70]:
data['Storage Capacity'].value_counts()

Other        780
256GB SSD    434
512GB SSD    195
1TB SSD       33
1TB           20
Name: Storage Capacity, dtype: int64

In [71]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,cpu_name
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8,1TB,15.6,Windows 11,Intel,1.7,2,99000.0,Other
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows 11,Intel,1.7,2,172000.0,Intel Core i5

In [72]:
# Display Size
data['Display Size'].value_counts()

15.6     773
14.0     226
13.3     171
17.3     166
12.5      39
11.6      34
13.9       6
13.5       6
12.0       6
13.0       6
12.3       5
15.4       4
10.1       4
16.0       4
15.0       4
16.1       3
156.0      1
18.4       1
17.0       1
14.1       1
11.3       1
Name: Display Size, dtype: int64

In [73]:
def set_display(inpt):
    if inpt == 15.6:
        return inpt
    elif inpt == 14.0:
        return inpt
    elif inpt == 156.0:
        return 15.6
    elif inpt == 13.0:
        return inpt
    elif inpt == 13.3:
        return 13.0
    else:
        return 'Other'

In [74]:
data['Display Size'] = data['Display Size'].apply(set_display)

In [75]:
data['Display Size'].value_counts()

15.6     774
Other    285
14.0     226
13.0     177
Name: Display Size, dtype: int64

In [76]:
#  GPU
data['GPU'].value_counts()

Intel HD Graphics 620      278
Intel HD Graphics 520      177
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Intel                       58
                          ...
AMD                          1
Nvidia Quadro M620M          1
Intel Graphics 620           1
AMD Radeon R5 520            1
NVIDIAGeForce GTX 960M       1
Name: GPU, Length: 137, dtype: int64

In [85]:
data['gpu_name'] = data['GPU'].apply(lambda x:" ".join(x.split()[0:1]))

In [86]:
data['gpu_name'].value_counts()

Intel            777
Nvidia           393
AMD              215
4GB               25
NVIDIA            17
2GB               16
6GB                6
8GB                5
Apple              3
GTX                1
16GB               1
8C                 1
ARM                1
NVIDIAGeForce      1
Name: gpu_name, dtype: int64

In [87]:
data = data[data['gpu_name'] != 'ARM']

In [91]:
data['gpu_name'].value_counts()

Intel            777
Nvidia           393
AMD              215
4GB               25
NVIDIA            17
2GB               16
6GB                6
8GB                5
Apple              3
GTX                1
16GB               1
8C                 1
NVIDIAGeForce      1
Name: gpu_name, dtype: int64

In [88]:
data.head(2)

,Brand,Model,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,cpu_name,gpu_name
0,Hp,HP 15s-GR0514AU,8,1TB,15.6,Windows,Intel,1.7,2,99000.0,Other,Intel
1,Hp,HP 15s-DU3561TU,8,1TB,15.6,Windows,Intel,1.7,2,172000.0,Intel Core i5,Intel

In [77]:
#  OS
data['OS'].value_counts()

Windows        1125
Windows 10      108
No OS            66
Linux            64
Windows 11       36
Chrome OS        27
macOS            13
Mac OS           12
Windows 10        7
Windows 11        2
Android           2
Name: OS, dtype: int64

In [78]:
def set_os(inpt):
    if inpt == 'Windows 10' or inpt == "Windows 11" or inpt == 'Windows 10 ' or inpt == "Windows 11 " or inpt == "Windows " or inpt == "Windows":
        return "Windows"
    elif inpt == 'Mac OS' or inpt == "macOS":
        return "Mac"
    elif inpt == "Linux":
        return inpt
    else:
        return "Other"

In [79]:
data['OS'] = data['OS'].apply(set_os)
data['OS'].value_counts()

Windows    1278
Other        95
Linux        64
Mac          25
Name: OS, dtype: int64

In [ ]:
# data['Weight'].value_counts()
# data['Warranty'].value_counts()
# data['Price'].value_counts()

In [80]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,cpu_name
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8,1TB,15.6,Windows,Intel,1.7,2,99000.0,Other
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows,Intel,1.7,2,172000.0,Intel Core i5

In [82]:
data = data.drop('Processor', axis=1)

In [83]:
data.head(2)

,Brand,Model,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,cpu_name
0,Hp,HP 15s-GR0514AU,8,1TB,15.6,Windows,Intel,1.7,2,99000.0,Other
1,Hp,HP 15s-DU3561TU,8,1TB,15.6,Windows,Intel,1.7,2,172000.0,Intel Core i5

In [92]:
#  GPU
data['gpu_name'].value_counts()

Intel            777
Nvidia           393
AMD              215
4GB               25
NVIDIA            17
2GB               16
6GB                6
8GB                5
Apple              3
GTX                1
16GB               1
8C                 1
NVIDIAGeForce      1
Name: gpu_name, dtype: int64

In [93]:
def set_gpu(inpt):
    if inpt == "Intel " or inpt == "Intel":
        return "Intel"
    elif inpt == 'AMD' or inpt == "AMD ":
        return "AMD"
    elif inpt == "Nvidia" or inpt == "NVIDIA":
        return "NVIDIA"
    else:
        return "Other"

In [94]:
data['gpu_name'] = data['gpu_name'].apply(set_gpu)
data['gpu_name'].value_counts()

Intel     777
NVIDIA    410
AMD       215
Other      59
Name: gpu_name, dtype: int64

In [95]:
data.head(2)

,Brand,Model,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,cpu_name,gpu_name
0,Hp,HP 15s-GR0514AU,8,1TB,15.6,Windows,Intel,1.7,2,99000.0,Other,Intel
1,Hp,HP 15s-DU3561TU,8,1TB,15.6,Windows,Intel,1.7,2,172000.0,Intel Core i5,Intel

In [96]:
data = data.drop('GPU', axis=1)

In [97]:
data.head(2)

,Brand,Model,RAM,Storage Capacity,Display Size,OS,Weight,Warranty,Price,cpu_name,gpu_name
0,Hp,HP 15s-GR0514AU,8,1TB,15.6,Windows,1.7,2,99000.0,Other,Intel
1,Hp,HP 15s-DU3561TU,8,1TB,15.6,Windows,1.7,2,172000.0,Intel Core i5,Intel

In [98]:
data['Model'].value_counts()

XPS 13                30
Inspiron 3567         29
250 G6                21
Vostro 3568           19
Legion Y520-15IKBN    19
                      ..
Rog GL753VE-GC070T     1
Rog GL753VD-GC042T     1
Precision 5520         1
Precision 3510         1
HP 15s-GR0514AU        1
Name: Model, Length: 745, dtype: int64

# Model Building and Selection

In [99]:
x = data.drop('Model', axis=1)
y = data['Model']

In [100]:
x.head(1)

,Brand,RAM,Storage Capacity,Display Size,OS,Weight,Warranty,Price,cpu_name,gpu_name
0,Hp,8,1TB,15.6,Windows,1.7,2,99000.0,Other,Intel

In [101]:
y.head(1)

0    HP 15s-GR0514AU
Name: Model, dtype: object

In [102]:
x = pd.get_dummies(x)

In [103]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [104]:
# Model training
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [105]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
model_acc(dt)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model_acc(rf)

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
model_acc(nb)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
model_acc(clf)

DecisionTreeClassifier() --> 0.30327868852459017
RandomForestClassifier() --> 0.3251366120218579
MultinomialNB() --> 0.1448087431693989
MLPClassifier() --> 0.01092896174863388

In [106]:
x_test.columns

Index(['RAM', 'Weight', 'Warranty', 'Price', 'Brand_Acer', 'Brand_Asus',
       'Brand_Dell', 'Brand_Hp', 'Brand_Lenovo', 'Brand_Other',
       'Storage Capacity_1TB', 'Storage Capacity_1TB SSD',
       'Storage Capacity_256GB SSD', 'Storage Capacity_512GB SSD',
       'Storage Capacity_Other', 'Display Size_13.0', 'Display Size_14.0',
       'Display Size_15.6', 'Display Size_Other', 'OS_Linux', 'OS_Mac',
       'OS_Other', 'OS_Windows', 'cpu_name_AMD', 'cpu_name_Intel Core i3',
       'cpu_name_Intel Core i5', 'cpu_name_Intel Core i7', 'cpu_name_Other',
       'gpu_name_AMD', 'gpu_name_Intel', 'gpu_name_NVIDIA', 'gpu_name_Other'],
      dtype='object')

In [107]:
pred_value = rf.predict([[8, 1.7, 2, 175000, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0]])
pred_value

C:\Users\HP\Desktop\MY\Machine-Learning\LaptopRecommendation System\model\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['ASUS Expertbook B1500'], dtype=object)

# SMOTE Technique

In [110]:
!pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.9.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from imbalanced-learn) (1.8.0)

In [111]:
from imblearn.over_sampling import RandomOverSampler
oversample = RandomOverSampler()
x_over, y_over = oversample.fit_resample(x, y)

In [112]:
y_over.value_counts()

HP 15s-GR0514AU                        30
V110-15ISK (3855U/4GB/500GB/W10)       30
Chromebook X360                        30
Gram 15Z975                            30
Aspire VX5-591G                        30
                                       ..
Aspire E5-576G                         30
Legion Y720-15IKB                      30
Precision 7520                         30
Aspire 7                               30
X553SA-XX031T (N3050/4GB/500GB/W10)    30
Name: Model, Length: 745, dtype: int64

In [113]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [114]:
from sklearn.model_selection import train_test_split
x_over_train, x_over_test, y_over_train, y_over_test = train_test_split(x, y, test_size = 0.25)

In [116]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [117]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
model_acc(dt)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model_acc(rf)

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
model_acc(nb)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
model_acc(clf)

DecisionTreeClassifier() --> 0.3251366120218579
RandomForestClassifier() --> 0.3224043715846995
MultinomialNB() --> 0.1448087431693989
MLPClassifier() --> 0.00273224043715847