In [1]:
!pip install numpy
!pip install pandas

Collecting numpy
  Using cached numpy-1.22.3-cp310-cp310-win_amd64.whl (14.7 MB)
Installing collected packages: numpy
Successfully installed numpy-1.22.3
Collecting pandas
  Using cached pandas-1.4.1-cp310-cp310-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.1 pytz-2021.3

import numpy as np
import pandas as pd

In [70]:
url1 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/users.csv"
url2 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
user = pd.read_csv(url1, encoding='latin-1')
laptop = pd.read_csv(url2, encoding='latin-1')

In [71]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             228 non-null    object
 1   Gender                228 non-null    object
 2   Age Range             228 non-null    object
 3   Occupation            228 non-null    object
 4   Monthly Income Range  228 non-null    object
 5   Laptop Brand          228 non-null    object
 6   RAM                   228 non-null    object
 7   Processor             228 non-null    object
 8   Storage               228 non-null    object
dtypes: object(9)
memory usage: 16.2+ KB

In [72]:
user.head(2)

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5,1TB
1,3/9/2022 12:59:31,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5,1TB

# Drop unnecessary columns

In [73]:
user = user.drop(columns=['Timestamp'])

In [76]:
user.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16,Intel Core i5,1TB
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8,Intel Core i5,1TB

# Data Analysis

In [65]:
user.isnull().sum()

Gender                  0
Age Range               0
Occupation              0
Monthly Income Range    0
Laptop Brand            0
RAM                     0
Processor               0
Storage                 0
dtype: int64

In [75]:
user['RAM'] = user['RAM'].str.replace('GB','').astype('int32')

# Laptop Brand

In [79]:
user['Laptop Brand'].value_counts()

Dell                  70
HP                    64
Asus                  35
Accer                 31
Lenovo                12
Apple                  7
Toshiba                3
MSI                    2
Samsung                1
Singer                 1
Fujitsu Lifebook A     1
Acer                   1
Name: Laptop Brand, dtype: int64

In [80]:
def add_company(inpt):
    if inpt == 'Lenovo' or inpt == 'Apple' or inpt == 'Toshiba' or inpt == 'MSI'or inpt == 'Samsung'or inpt == 'Singer'or inpt == 'Fujitsu Lifebook A'or inpt == 'Acer':
        return 'Other'
    else:
        return inpt

In [81]:
user['Laptop Brand'] = user['Laptop Brand'].apply(add_company)

In [82]:
user['Laptop Brand'].value_counts()

Dell     70
HP       64
Asus     35
Accer    31
Other    28
Name: Laptop Brand, dtype: int64

# Processor

In [83]:
user['Processor'].value_counts()

Intel Core i5                    91
Intel Core i3                    53
Intel Core i7                    36
AMD Ryzen 5                      18
Dual Core                        11
AMD Ryzen 7                       7
AMD Ryzen 3                       4
Celron                            1
M1                                1
M1 Chipset                        1
celeron                           1
Intel(R) Celeron(R) CPU 1037U     1
M1 Pro                            1
M1                                1
M2                                1
Name: Processor, dtype: int64

In [84]:
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'

In [85]:
user['Processor'] = user['Processor'].apply(set_processor)

In [86]:
user['Processor'].value_counts()

Intel Core i5    91
Intel Core i3    53
Intel Core i7    36
AMD              29
Other            19
Name: Processor, dtype: int64

In [87]:
user.head()

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16,Intel Core i5,1TB
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8,Intel Core i5,1TB
2,Male,21 - 30,Undergraduate,Unpaid,Dell,4,Intel Core i7,1TB
3,Male,21 - 30,Associate software engineer,50k - 100k,Other,16,Intel Core i5,1TB
4,Male,10 - 20,Student,Unpaid,Accer,8,Intel Core i5,512GB

# Occupation

In [88]:
user['Occupation'].value_counts()

Undergraduate                  79
Student                        66
Software engineer              18
Senior software engineer       15
Associate software engineer    11
Teacher                        11
Associate technical lead        7
Technical lead                  7
QA engineer                     4
Doctor                          4
UI/UX engineer                  3
DevOps Engineer                 1
Public Service Officer          1
Business Operations Manager     1
Name: Occupation, dtype: int64

In [93]:
def add_occupation(inpt):
    if inpt == 'Associate technical lead' or inpt == 'Technical lead' or inpt == 'QA engineer' or inpt == 'UI/UX engineer'or inpt == 'Doctor'or inpt == 'DevOps Engineer'or inpt == 'Public Service Officer'or inpt == 'Business Operations Manager':
        return 'Other'
    else:
        return inpt

In [94]:
user['Occupation'] = user['Occupation'].apply(add_occupation)

In [95]:
user['Occupation'].value_counts()

Undergraduate                  79
Student                        66
Other                          26
Software engineer              18
Senior software engineer       15
Associate software engineer    11
Teacher                        11
DevOps Engineer                 1
Public Service Officer          1
Name: Occupation, dtype: int64

In [96]:
user.head()

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16,Intel Core i5,1TB
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8,Intel Core i5,1TB
2,Male,21 - 30,Undergraduate,Unpaid,Dell,4,Intel Core i7,1TB
3,Male,21 - 30,Associate software engineer,50k - 100k,Other,16,Intel Core i5,1TB
4,Male,10 - 20,Student,Unpaid,Accer,8,Intel Core i5,512GB

In [97]:
user['Gender'].value_counts()

Male      137
Female     91
Name: Gender, dtype: int64

In [98]:
user['Age Range'].value_counts()

21 - 30    141
10 - 20     59
31 - 40     24
41 - 50      4
Name: Age Range, dtype: int64

# Drop unnecessary columns

In [109]:
# user = user.drop('Storage', axis=0)
user = pd.get_dummies(user)

In [101]:
user.head(2)

,RAM,Gender_Female,Gender_Male,Age Range_10 - 20,Age Range_21 - 30,Age Range_31 - 40,Age Range_41 - 50,Occupation_Associate software engineer,Occupation_DevOps Engineer,Occupation_Other,...,Storage_256,Storage_256 GB,Storage_256GB,Storage_280GB,Storage_2TB,Storage_430GB,Storage_465GB,Storage_512GB,Storage_898GB,Storage_No HDD
0,16,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
X = user.drop('Processor', axis=1)
y = user['Processor']

KeyError: "['Processor'] not found in axis"