In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.22.3)
Requirement already satisfied: pandas in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/users.csv"
data = pd.read_csv(url, encoding='latin-1')

In [4]:
data.head(2)

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5
1,3/9/2022 12:59:31,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5

# Drop unnecessary columns

In [5]:
data = data.drop(columns=['Timestamp'])

In [6]:
data.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5

# Data Analysis

In [7]:
data.isnull().sum()

Gender                  0
Age Range               0
Occupation              0
Monthly Income Range    0
Laptop Brand            0
RAM                     0
Processor               0
dtype: int64

In [8]:
data['RAM'] = data['RAM'].str.replace('GB','').astype('int32')

# Laptop Brand

In [9]:
data['Laptop Brand'].value_counts()

Dell                  70
HP                    64
Asus                  35
Accer                 31
Lenovo                12
Apple                  7
Toshiba                3
MSI                    2
Samsung                1
Singer                 1
Fujitsu Lifebook A     1
Acer                   1
Name: Laptop Brand, dtype: int64

In [10]:
def add_company(inpt):
    if inpt == 'Lenovo' or inpt == 'Apple' or inpt == 'Toshiba' or inpt == 'MSI'or inpt == 'Samsung'or inpt == 'Singer'or inpt == 'Fujitsu Lifebook A'or inpt == 'Acer':
        return 'Other'
    else:
        return inpt

In [11]:
data['Laptop Brand'] = data['Laptop Brand'].apply(add_company)

In [12]:
data['Laptop Brand'].value_counts()

Dell     70
HP       64
Asus     35
Accer    31
Other    28
Name: Laptop Brand, dtype: int64

# Occupation

In [13]:
data['Occupation'].value_counts()

Undergraduate                  79
Student                        66
Software engineer              18
Senior software engineer       15
Associate software engineer    11
Teacher                        11
Associate technical lead        7
Technical lead                  7
QA engineer                     4
Doctor                          4
UI/UX engineer                  3
DevOps Engineer                 1
Public Service Officer          1
Business Operations Manager     1
Name: Occupation, dtype: int64

In [14]:
def add_occupation(inpt):
    if inpt == 'Undergraduate':
        return inpt
    elif inpt == 'Student':
        return inpt
    elif inpt == 'Software engineer':
        return inpt
    elif inpt == 'Senior software engineer':
        return inpt
    elif inpt == 'Associate software engineer':
        return inpt
    else:
        return 'Other'

In [15]:
data['Occupation'] = data['Occupation'].apply(add_occupation)

In [16]:
data['Occupation'].value_counts()

Undergraduate                  79
Student                        66
Other                          39
Software engineer              18
Senior software engineer       15
Associate software engineer    11
Name: Occupation, dtype: int64

In [17]:
data['Gender'].value_counts()

Male      137
Female     91
Name: Gender, dtype: int64

In [18]:
data['Age Range'].value_counts()

21 - 30    141
10 - 20     59
31 - 40     24
41 - 50      4
Name: Age Range, dtype: int64

In [19]:
data['Monthly Income Range'].value_counts()

Unpaid            121
50k - 100k         26
10k - 50k          26
More than 250k     20
100k - 150k        15
150k - 200k        12
200k - 250k         8
Name: Monthly Income Range, dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                228 non-null    object
 1   Age Range             228 non-null    object
 2   Occupation            228 non-null    object
 3   Monthly Income Range  228 non-null    object
 4   Laptop Brand          228 non-null    object
 5   RAM                   228 non-null    int32
 6   Processor             228 non-null    object
dtypes: int32(1), object(6)
memory usage: 11.7+ KB

In [21]:
# def set_processor(name):
#     if name == 'Intel Core i7':
#         return 7
#     elif name == 'Intel Core i5':
#         return 5
#     elif name == 'Intel Core i3':
#         return 3
#     else:
#         if name.split()[0] == 'AMD':
#             return 1
#         else:
#             return 0

In [22]:
# data['Processor'] = data['Processor'].apply(set_processor)

In [23]:
# data.info()

In [24]:
data.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16,Intel Core i5
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8,Intel Core i5

# Label-Hot Encoding

In [25]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [26]:
# from sklearn.preprocessing import LabelEncoder

In [27]:
# lbl_encode = LabelEncoder() 
# lbl_encode.fit_transform(data['Processor'])
# data[ 'Processor_label']=lbl_encode.fit_transform(data['Processor'])
# data[ 'Processor_label']. value_counts()

In [28]:
# data = pd.get_dummies(data)

In [29]:
data.shape

(228, 7)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                228 non-null    object
 1   Age Range             228 non-null    object
 2   Occupation            228 non-null    object
 3   Monthly Income Range  228 non-null    object
 4   Laptop Brand          228 non-null    object
 5   RAM                   228 non-null    int32
 6   Processor             228 non-null    object
dtypes: int32(1), object(6)
memory usage: 11.7+ KB

# Model Building and Selection

In [31]:
# y = data['Processor', 'RAM']

In [32]:
x = data.drop('Processor', axis=1)
y = data['Processor']

In [33]:
y.head(2)

0    Intel Core i5
1    Intel Core i5
Name: Processor, dtype: object

# One Hot Encoding

In [34]:
x = pd.get_dummies(x)

In [35]:
x.head()

,RAM,Gender_Female,Gender_Male,Age Range_10 - 20,Age Range_21 - 30,Age Range_31 - 40,Age Range_41 - 50,Occupation_Associate software engineer,Occupation_Other,Occupation_Senior software engineer,...,Monthly Income Range_150k - 200k,Monthly Income Range_200k - 250k,Monthly Income Range_50k - 100k,Monthly Income Range_More than 250k,Monthly Income Range_Unpaid,Laptop Brand_Accer,Laptop Brand_Asus,Laptop Brand_Dell,Laptop Brand_HP,Laptop Brand_Other
0,16,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1,8,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,4,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,16,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
4,8,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [36]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)

In [37]:
x.head(2)

,RAM,Gender_Female,Gender_Male,Age Range_10 - 20,Age Range_21 - 30,Age Range_31 - 40,Age Range_41 - 50,Occupation_Associate software engineer,Occupation_Other,Occupation_Senior software engineer,...,Monthly Income Range_150k - 200k,Monthly Income Range_200k - 250k,Monthly Income Range_50k - 100k,Monthly Income Range_More than 250k,Monthly Income Range_Unpaid,Laptop Brand_Accer,Laptop Brand_Asus,Laptop Brand_Dell,Laptop Brand_HP,Laptop Brand_Other
0,16,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1,8,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [38]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [39]:
# # DecisionTreeClassifier
# from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier()
# model.fit(x_train, y_train)

# # DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# model2 = RandomForestClassifier()
# model2.fit(x_train, y_train)

In [40]:
# pred = model.predict(x_test)
# pred2 = model2.predict(x_test)

In [41]:
# from sklearn.metrics import accuracy_score
# accuracy_score(y_test, pred)
# accuracy_score(y_test, pred2)

In [42]:
# model.predict([[1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])

# Divide dataset into training and testing set

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [44]:
x_train.shape, x_test.shape

((171, 25), (57, 25))

# Model training

In [45]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [46]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
model_acc(dt)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model_acc(rf)

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
model_acc(nb)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
model_acc(clf)

from sklearn.linear_model import RidgeClassifier
rc = RidgeClassifier()
model_acc(rc)

DecisionTreeClassifier() --> 0.43859649122807015
RandomForestClassifier() --> 0.49122807017543857
MultinomialNB() --> 0.45614035087719296
MLPClassifier() --> 0.40350877192982454
RidgeClassifier() --> 0.3508771929824561

C:\Users\HP\Desktop\MY\Machine-Learning\LaptopRecommendation System\model\env\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [47]:
# from sklearn.multioutput import MultiOutputClassifier
# from sklearn.ensemble import RandomForestClassifier
# forest = RandomForestClassifier(random_state=1)
# multi_target_forest = MultiOutputClassifier(forest, n_jobs=-1)
# # multi_target_forest.fit(x_train, y_train).predict([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0])

In [48]:
x_test.columns

Index(['RAM', 'Gender_Female', 'Gender_Male', 'Age Range_10 - 20',
       'Age Range_21 - 30', 'Age Range_31 - 40', 'Age Range_41 - 50',
       'Occupation_Associate software engineer', 'Occupation_Other',
       'Occupation_Senior software engineer', 'Occupation_Software engineer',
       'Occupation_Student', 'Occupation_Undergraduate',
       'Monthly Income Range_100k - 150k', 'Monthly Income Range_10k - 50k',
       'Monthly Income Range_150k - 200k', 'Monthly Income Range_200k - 250k',
       'Monthly Income Range_50k - 100k',
       'Monthly Income Range_More than 250k', 'Monthly Income Range_Unpaid',
       'Laptop Brand_Accer', 'Laptop Brand_Asus', 'Laptop Brand_Dell',
       'Laptop Brand_HP', 'Laptop Brand_Other'],
      dtype='object')

In [49]:
pred_value = nb.predict([[1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])
pred_value

C:\Users\HP\Desktop\MY\Machine-Learning\LaptopRecommendation System\model\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array(['Intel Core i5'], dtype='<U29')

In [50]:
# pred_value_proba = nb.predict_proba([[1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]])
# pred_value_proba

C:\Users\HP\Desktop\MY\Machine-Learning\LaptopRecommendation System\model\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([[0.06438832, 0.04117406, 0.04669385, 0.07013001, 0.12378292,
        0.41392533, 0.05975539, 0.01301841, 0.05571057, 0.05571057,
        0.02785528, 0.02785528]])