In [1]:
!pip install numpy
!pip install pandas
!pip install sklearn

Requirement already satisfied: numpy in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.22.3)
Requirement already satisfied: pandas in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
data = pd.read_csv(url, encoding='latin-1')

In [4]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,Unnamed: 11
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0,NaN
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0,NaN

# Drop unnecessary columns

In [5]:
data = data.drop(columns=['Unnamed: 11'])

In [6]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0

# Data Analysis

In [7]:
data.isnull().sum()

Brand               0
Model               0
Processor           0
RAM                 0
Storage Capacity    0
Display Size        0
OS                  0
GPU                 0
Weight              0
Warranty            0
Price               0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             1462 non-null   object
 1   Model             1462 non-null   object
 2   Processor         1462 non-null   object
 3   RAM               1462 non-null   object
 4   Storage Capacity  1462 non-null   object
 5   Display Size      1462 non-null   object
 6   OS                1462 non-null   object
 7   GPU               1462 non-null   object
 8   Weight            1462 non-null   float64
 9   Warranty          1462 non-null   int64
 10  Price             1462 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 125.8+ KB

In [9]:
data['Display Size'] = data['Display Size'].str.replace('"','').astype('float64')
data['RAM'] = data['RAM'].str.replace('GB','').astype('int32')

In [10]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8,1TB,15.6,Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows 11,Intel,1.7,2,172000.0

In [11]:
# Brand
data['Brand'].value_counts()

Dell         337
Lenovo       308
HP           274
Asus         198
Acer         108
MSI           73
Toshiba       48
Hp            40
Apple         25
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Brand, dtype: int64

In [12]:
def set_brand(inpt):
    if inpt == 'Dell':
        return inpt
    elif inpt == 'Lenovo':
        return inpt
    elif inpt == 'Asus':
        return inpt
    elif inpt == 'HP' or inpt == 'Hp':
        return 'HP'
    elif inpt == 'MSI':
        return inpt
    elif inpt == 'MSI':
        return inpt
    elif inpt == 'Apple':
        return inpt
    else:
        return 'Other'

In [13]:
data['Brand'] = data['Brand'].apply(set_brand)

In [14]:
data['Brand'].value_counts()

Dell      337
HP        314
Lenovo    308
Other     207
Asus      198
MSI        73
Apple      25
Name: Brand, dtype: int64

In [18]:
# Processor
data['Processor'].value_counts()

Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
intel Core i5                      1
Intel Core M 7Y30 1.0GHz           1
Intel Xeon E3-1535M v6 3.1GHz      1
Intel Celeron                      1
ATHLON 3050U                       1
Name: Processor, Length: 138, dtype: int64

In [15]:
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'

In [16]:
data['Processor'] = data['Processor'].apply(set_processor)

In [17]:
data['Processor'].value_counts()

Other            1262
AMD               116
Intel Core i7      36
Intel Core i5      34
Intel Core i3      14
Name: Processor, dtype: int64