In [1]:
!pip install numpy
!pip install pandas

Collecting numpy
  Using cached numpy-1.22.3-cp310-cp310-win_amd64.whl (14.7 MB)
Installing collected packages: numpy
Successfully installed numpy-1.22.3
Collecting pandas
  Using cached pandas-1.4.1-cp310-cp310-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.1 pytz-2021.3

import numpy as np
import pandas as pd

In [30]:
url1 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/users.csv"
url2 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
user = pd.read_csv(url1, encoding='latin-1')
laptop = pd.read_csv(url2, encoding='latin-1')

In [31]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             230 non-null    object
 1   Gender                230 non-null    object
 2   Age Range             230 non-null    object
 3   Occupation            230 non-null    object
 4   Monthly Income Range  230 non-null    object
 5   Laptop Brand          229 non-null    object
 6   RAM                   229 non-null    object
 7   Processor             229 non-null    object
 8   Storage               229 non-null    object
dtypes: object(9)
memory usage: 16.3+ KB

In [32]:
user.head(2)

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5,1TB
1,3/9/2022 12:59:31,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5,1TB

# Drop unnecessary columns

In [33]:
user = user.drop(columns=['Timestamp'])

In [34]:
user.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5,1TB
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5,1TB

# Data Analysis

In [36]:
user.isnull().sum()

Gender                  0
Age Range               0
Occupation              0
Monthly Income Range    0
Laptop Brand            1
RAM                     1
Processor               1
Storage                 1
dtype: int64