In [1]:
!pip install numpy
!pip install pandas

Collecting numpy
  Using cached numpy-1.22.3-cp310-cp310-win_amd64.whl (14.7 MB)
Installing collected packages: numpy
Successfully installed numpy-1.22.3
Collecting pandas
  Using cached pandas-1.4.1-cp310-cp310-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.1 pytz-2021.3

import numpy as np
import pandas as pd

In [38]:
url1 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/user.csv"
url2 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
user = pd.read_csv(url1, encoding='latin-1')
laptop = pd.read_csv(url2, encoding='latin-1')

In [39]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 14 columns):
 #   Column                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                                229 non-null    object
 1   Gender                                                                                                                                   229 non-null    object
 2   Age Range                                                                                                                                229 non-null    object
 3   Occupation                                                                                                                               229 non-null    object
 4   Monthly Income Range                                                                                                                     229 non-null    object
 5   Do you have a laptop?                                                                                                                    229 non-null    object
 6   Laptop Brand                                                                                                                             229 non-null    object
 7   RAM                                                                                                                                      229 non-null    object
 8   Processor                                                                                                                                229 non-null    object
 9   Storage                                                                                                                                  229 non-null    object
 10  SSD                                                                                                                                      181 non-null    object
 11  Are you work with Software Industry?                                                                                                     229 non-null    object
 12  What is your Field?                                                                                                                      109 non-null    object
 13  Give your rating about your Laptop with your work?(Strongyl Agree = 5 | Agree = 4 | Neutral = 3 | Disagree = 2 | Strongly Disagree = 1)  109 non-null    object
dtypes: object(14)
memory usage: 25.2+ KB

In [40]:
user.head(2)

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Do you have a laptop?,Laptop Brand,RAM,Processor,Storage,SSD,Are you work with Software Industry?,What is your Field?,Give your rating about your Laptop with your work?(Strongyl Agree = 5 | Agree = 4 | Neutral = 3 | Disagree = 2 | Strongly Disagree = 1)
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,16GB,Intel Core i5,1TB,256GB,Yes,Web Development,4
1,3/9/2022 12:59:31,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,8GB,Intel Core i5,1TB,256GB,Yes,Web Development,#VALUE!

# Drop unnecessary columns

In [41]:
user = user.drop(columns=['Timestamp'])

In [42]:
user.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Do you have a laptop?,Laptop Brand,RAM,Processor,Storage,SSD,Are you work with Software Industry?,What is your Field?,Give your rating about your Laptop with your work?(Strongyl Agree = 5 | Agree = 4 | Neutral = 3 | Disagree = 2 | Strongly Disagree = 1)
0,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,16GB,Intel Core i5,1TB,256GB,Yes,Web Development,4
1,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,8GB,Intel Core i5,1TB,256GB,Yes,Web Development,#VALUE!

# Data Analysis

In [36]:
user.isnull().sum()

Gender                  0
Age Range               0
Occupation              0
Monthly Income Range    0
Laptop Brand            1
RAM                     1
Processor               1
Storage                 1
dtype: int64