In [1]:
!pip install numpy
!pip install pandas

Collecting numpy
  Using cached numpy-1.22.3-cp310-cp310-win_amd64.whl (14.7 MB)
Installing collected packages: numpy
Successfully installed numpy-1.22.3
Collecting pandas
  Using cached pandas-1.4.1-cp310-cp310-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Collecting pytz>=2020.1
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.4.1 pytz-2021.3

import numpy as np
import pandas as pd

In [3]:
url1 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/userDetails.csv"
url2 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptopDetails.csv"
userData = pd.read_csv(url1, encoding='latin-1')
laptopData = pd.read_csv(url2, encoding='latin-1')

In [24]:
userData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                230 non-null    object
 1   Age Range             230 non-null    object
 2   Occupation            230 non-null    object
 3   Monthly Income Range  230 non-null    object
 4   Laptop Brand          229 non-null    object
 5   RAM                   229 non-null    object
 6   Processor             229 non-null    object
 7   Storage               229 non-null    object
 8   What is your Field?   109 non-null    object
dtypes: object(9)
memory usage: 16.3+ KB

In [12]:
userData = userData.drop(columns=['Timestamp'])

KeyError: "['Timestamp'] not found in axis"

In [7]:
userData.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Do you have a laptop?,Laptop Brand,RAM,Processor,Storage,SSD,Are you work with Software Industry?,What is your Field?,Give your rating about your Laptop with your work?(Strongyl Agree = 5 | Agree = 4 | Neutral = 3 | Disagree = 2 | Strongly Disagree = 1)
0,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,16GB,Intel Core i5,1TB,256GB,Yes,Web Development,4
1,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,8GB,Intel Core i5,1TB,256GB,Yes,Web Development,#VALUE!

In [13]:
userData = userData.drop(columns=['Are you work with Software Industry?'])

In [14]:
userData.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Do you have a laptop?,Laptop Brand,RAM,Processor,Storage,SSD,What is your Field?,Give your rating about your Laptop with your work?(Strongyl Agree = 5 | Agree = 4 | Neutral = 3 | Disagree = 2 | Strongly Disagree = 1)
0,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,16GB,Intel Core i5,1TB,256GB,Web Development,4
1,Male,21 - 30,Associate software engineer,50k - 100k,Yes,Asus,8GB,Intel Core i5,1TB,256GB,Web Development,#VALUE!

In [15]:
userData = userData.drop(columns=['Do you have a laptop?'])

In [17]:
userData = userData.drop(columns=['Give your rating about your Laptop with your work?(Strongyl Agree = 5 | Agree = 4 | Neutral = 3 | Disagree = 2 | Strongly Disagree = 1)'])

In [18]:
userData.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage,SSD,What is your Field?
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5,1TB,256GB,Web Development
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5,1TB,256GB,Web Development

In [19]:
userData = userData.drop(columns=['SSD'])

In [20]:
userData.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage,What is your Field?
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5,1TB,Web Development
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5,1TB,Web Development

In [26]:
userData = userData.drop(columns=['What is your Field?'],axis=1)

KeyError: "['What is your Field?'] not found in axis"

In [22]:
userData.head(2)

,Gender,Age Range,Occupation,Monthly Income Range,Laptop Brand,RAM,Processor,Storage,What is your Field?
0,Male,21 - 30,Associate software engineer,50k - 100k,Asus,16GB,Intel Core i5,1TB,Web Development
1,Male,21 - 30,Associate software engineer,50k - 100k,Asus,8GB,Intel Core i5,1TB,Web Development

In [23]:
userData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                230 non-null    object
 1   Age Range             230 non-null    object
 2   Occupation            230 non-null    object
 3   Monthly Income Range  230 non-null    object
 4   Laptop Brand          229 non-null    object
 5   RAM                   229 non-null    object
 6   Processor             229 non-null    object
 7   Storage               229 non-null    object
 8   What is your Field?   109 non-null    object
dtypes: object(9)
memory usage: 16.3+ KB