In [1]:
!pip install numpy
!pip install pandas
!pip install sklearn

Requirement already satisfied: numpy in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.22.3)
Requirement already satisfied: pandas in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sklearn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from scikit-learn->sklearn) (3.1.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
# url = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/sample_laptops.csv"
data = pd.read_csv(url, encoding='latin-1')

In [4]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price,Unnamed: 11
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0,NaN
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0,NaN

# Drop unnecessary columns

In [5]:
data = data.drop(columns=['Unnamed: 11'])
# data.drop(data.index[161:1461], inplace=True)

In [6]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0

# Data Analysis

In [7]:
data.isnull().sum()

Brand               0
Model               0
Processor           0
RAM                 0
Storage Capacity    0
Display Size        0
OS                  0
GPU                 0
Weight              0
Warranty            0
Price               0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             1462 non-null   object
 1   Model             1462 non-null   object
 2   Processor         1462 non-null   object
 3   RAM               1462 non-null   object
 4   Storage Capacity  1462 non-null   object
 5   Display Size      1462 non-null   object
 6   OS                1462 non-null   object
 7   GPU               1462 non-null   object
 8   Weight            1462 non-null   float64
 9   Warranty          1462 non-null   int64
 10  Price             1462 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 125.8+ KB

In [9]:
data['Display Size'] = data['Display Size'].str.replace('"','').astype('float64')
data['RAM'] = data['RAM'].str.replace('GB','').astype('int32')

In [10]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8,1TB,15.6,Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows 11,Intel,1.7,2,172000.0

In [11]:
# Brand
data['Brand'].value_counts()

Dell         337
Lenovo       308
HP           274
Asus         198
Acer         108
MSI           73
Toshiba       48
Hp            40
Apple         25
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Brand, dtype: int64

In [12]:
def set_brand(inpt):
    if inpt == 'Dell':
        return inpt
    elif inpt == 'Asus':
        return inpt
    elif inpt == 'Hp' or inpt == "HP":
        return 'Hp'
    elif inpt == 'Lenovo':
        return inpt
    elif inpt == 'Acer':
        return inpt
    else:
        return 'Other'

In [13]:
data['Brand'] = data['Brand'].apply(set_brand)

In [14]:
data['Brand'].value_counts()

Dell      337
Hp        314
Lenovo    308
Asus      198
Other     197
Acer      108
Name: Brand, dtype: int64

In [15]:
# Processor
data['Processor'].value_counts()

Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
intel Core i5                      1
Intel Core M 7Y30 1.0GHz           1
Intel Xeon E3-1535M v6 3.1GHz      1
Intel Celeron                      1
ATHLON 3050U                       1
Name: Processor, Length: 138, dtype: int64

In [16]:
# def set_processor(name):
#     if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3' or name == 'AMD Ryzen 7' or name == 'AMD Ryzen 5' or name == 'AMD Ryzen 3':
#         return name
#     else:
#         return 'Other'
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        elif name.split()[2] == 'i7':
            return 'Intel Core i7'
        elif name.split()[2] == 'i5':
            return 'Intel Core i5'
        elif name.split()[2] == 'i3':
            return 'Intel Core i3'
        else:
            return 'Other'

In [17]:
data['Processor'] = data['Processor'].apply(set_processor)

In [48]:
data['Processor'].value_counts()

Other            1262
AMD               116
Intel Core i7      36
Intel Core i5      34
Intel Core i3      14
Name: Processor, dtype: int64

In [19]:
# Ram
data['RAM'].value_counts()

8     714
4     400
16    235
6      41
12     25
2      22
32     21
24      3
64      1
Name: RAM, dtype: int64

In [20]:
#  Storage Capacity
data['Storage Capacity'].value_counts()

256GB SSD                        434
1TB HDD                          224
512GB SSD                        195
500GB HDD                        132
128GB SSD +  1TB HDD              94
128GB SSD                         82
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
1TB SSD                           33
1TB                               20
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
256GB SSD +  2TB HDD              10
1TB Hybrid                         9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
1GB SSD                            5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
1TB                                3
256GB SSD +  500GB HDD             2
512GB                              2
512GB Flash Storage                2
128GB SSD +  2TB HDD               2
1TB SSD +  1TB HDD                 2
1TB + 256GB SSD                    2
256GB SSD +  256GB SSD             2
512GB SSD                          2
32GB HDD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
512GB SSD +  1TB Hybrid            1
1TB HDD +  1TB HDD                 1
2TB SSD                            1
64GB Flash Storage +  1TB HDD      1
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB SSD                           1
 512GB SSD                         1
128Gb SSD                          1
1TB SSD + 256GB SSD                1
512Gb SSD                          1
256GB SSD + 1TB                    1
256GB SSD +  1TB Hybrid            1
Name: Storage Capacity, dtype: int64

In [21]:
def set_storage(name):
    if name == '512GB SSD' or name == '256GB SSD' or name == '1TB' or name == '1TB SSD':
        return name
    else:
        return 'Other'

In [22]:
data['Storage Capacity'] = data['Storage Capacity'].apply(set_storage)

In [23]:
data['Storage Capacity'].value_counts()

Other        780
256GB SSD    434
512GB SSD    195
1TB SSD       33
1TB           20
Name: Storage Capacity, dtype: int64

In [24]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,Other,8,1TB,15.6,Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows 11,Intel,1.7,2,172000.0

In [25]:
# Display Size
data['Display Size'].value_counts()

15.6     773
14.0     226
13.3     171
17.3     166
12.5      39
11.6      34
13.9       6
13.5       6
12.0       6
13.0       6
12.3       5
15.4       4
10.1       4
16.0       4
15.0       4
16.1       3
156.0      1
18.4       1
17.0       1
14.1       1
11.3       1
Name: Display Size, dtype: int64

In [26]:
def set_display(inpt):
    if inpt == 15.6:
        return inpt
    elif inpt == 14.0:
        return inpt
    elif inpt == 156.0:
        return 15.6
    elif inpt == 13.0:
        return inpt
    elif inpt == 13.3:
        return 13.0
    else:
        return 'Other'

In [27]:
data['Display Size'] = data['Display Size'].apply(set_display)

In [28]:
data['Display Size'].value_counts()

15.6     774
Other    285
14.0     226
13.0     177
Name: Display Size, dtype: int64

In [29]:
#  GPU
data['GPU'].value_counts()

Intel HD Graphics 620      278
Intel HD Graphics 520      177
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Intel                       58
                          ...
AMD                          1
Nvidia Quadro M620M          1
Intel Graphics 620           1
AMD Radeon R5 520            1
NVIDIAGeForce GTX 960M       1
Name: GPU, Length: 137, dtype: int64

In [30]:
#  OS
data['OS'].value_counts()

Windows        1125
Windows 10      108
No OS            66
Linux            64
Windows 11       36
Chrome OS        27
macOS            13
Mac OS           12
Windows 10        7
Windows 11        2
Android           2
Name: OS, dtype: int64

In [31]:
def set_os(inpt):
    if inpt == 'Windows 10' or inpt == "Windows 11" or inpt == 'Windows 10 ' or inpt == "Windows 11 ":
        return "Windows"
    elif inpt == 'Mac OS' or inpt == "macOS":
        return "Mac"
    elif inpt == "Linux":
        return inpt
    else:
        return "Other"

In [32]:
data['OS'] = data['OS'].apply(set_os)
data['OS'].value_counts()

Other      1220
Windows     153
Linux        64
Mac          25
Name: OS, dtype: int64

In [33]:
# data['Weight'].value_counts()
# data['Warranty'].value_counts()
# data['Price'].value_counts()

In [34]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,Other,8,1TB,15.6,Windows,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows,Intel,1.7,2,172000.0

In [35]:
data.rename(columns={"Processor":"CPU", "Storage Capacity":"Storage", "Display Size":"Inches"})

,Brand,Model,CPU,RAM,Storage,Inches,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,Other,8,1TB,15.6,Windows,Intel,1.70,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows,Intel,1.70,2,172000.0
2,Hp,HP 15s-DU1114Tu,Other,4,Other,15.6,Windows,Intel,1.78,1,87000.0
3,Hp,HP 15s-EQ2890AU,AMD,8,Other,15.6,Windows,AMD,1.69,2,134000.0
4,Hp,HP Envy x360 13-AY0101AU,AMD,8,512GB SSD,13.0,Windows,AMD,1.32,1,245000.0
...,...,...,...,...,...,...,...,...,...,...,...
1457,Lenovo,Yoga 500-14ISK,Other,4,Other,14.0,Other,Intel,1.80,1,186296.0
1458,Lenovo,Yoga 900-13ISK,Other,16,512GB SSD,13.0,Other,Intel,1.30,1,437708.0
1459,Lenovo,IdeaPad 100S-14IBR,Other,2,Other,14.0,Other,Intel,1.50,1,66868.0
1460,Hp,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Other,6,Other,15.6,Other,AMD,2.19,1,223088.0
1461,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Other,4,Other,15.6,Other,Intel,2.20,3,107748.0

In [36]:
#  GPU
data['GPU'].value_counts()

Intel HD Graphics 620      278
Intel HD Graphics 520      177
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Intel                       58
                          ...
AMD                          1
Nvidia Quadro M620M          1
Intel Graphics 620           1
AMD Radeon R5 520            1
NVIDIAGeForce GTX 960M       1
Name: GPU, Length: 137, dtype: int64

In [37]:
def set_gpu(inpt):
    if inpt == "Intel " or inpt == "Intel Iris Plus Graphics 640" or inpt == "Intel HD Graphics 6000":
        return "Intel"
    elif inpt == 'AMD' or inpt == "AMD ":
        return "AMD"
    elif inpt == "8C GPU" or inpt == "Apple M1":
        return "Other"
    else:
        return "NVIDIA"

In [38]:
data['GPU'] = data['GPU'].apply(set_gpu)
data['GPU'].value_counts()

NVIDIA    1342
Intel       71
AMD         45
Other        4
Name: GPU, dtype: int64

In [39]:
data.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,Other,8,1TB,15.6,Windows,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8,1TB,15.6,Windows,Intel,1.7,2,172000.0

# Model Building and Selection

In [40]:
data = data.drop(columns=['Model'])
x = data.drop('Processor', axis=1)
y = data['Processor']

In [41]:
x.head(1)

,Brand,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,8,1TB,15.6,Windows,Intel,1.7,2,99000.0

In [42]:
y.head(1)

0    Other
Name: Processor, dtype: object

In [43]:
x = pd.get_dummies(x)

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [45]:
# Model training
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [46]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
model_acc(dt)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model_acc(rf)

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
model_acc(nb)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
model_acc(clf)

DecisionTreeClassifier() --> 0.8907103825136612
RandomForestClassifier() --> 0.9180327868852459
MultinomialNB() --> 0.8825136612021858
MLPClassifier() --> 0.855191256830601

In [47]:
pred_value = nb.predict([[8, 1.7, 2, 175000, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0]])
pred_value

C:\Users\HP\Desktop\MY\Machine-Learning\LaptopRecommendation System\model\env\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

ValueError: X has 24 features, but MultinomialNB is expecting 27 features as input.