In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.22.3)
Requirement already satisfied: pandas in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\desktop\my\machine-learning\laptoprecommendation system\model\env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

In [3]:
url1 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/users.csv"
url2 = "https://raw.githubusercontent.com/tharindu97/Machine-Learning/main/laptops.csv"
users = pd.read_csv(url1, encoding='latin-1')
laptops = pd.read_csv(url2, encoding='latin-1')

In [13]:
users.rename({'Laptop Brand': 'Brand'},axis=1, inplace=True)

In [9]:
users = users.drop(columns=['RAM','Processor'])

In [7]:
laptops = laptops.drop(columns=['Unnamed: 11'])

In [14]:
laptops.head(2)

,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,Hp,HP 15s-GR0514AU,ATHLON 3050U,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,99000.0
1,Hp,HP 15s-DU3561TU,Intel Core i5,8GB,1TB,"15.6""",Windows 11,Intel,1.7,2,172000.0

In [31]:
users.head(2)
users['Brand'].value_counts()

Dell                  70
HP                    64
Asus                  35
Accer                 31
Lenovo                12
Apple                  7
Toshiba                3
MSI                    2
Samsung                1
Singer                 1
Fujitsu Lifebook A     1
Acer                   1
Name: Brand, dtype: int64

In [32]:
def add_brand(inpt):
    if inpt == 'Accer':
        return 'Acer'
    else:
        return inpt

In [34]:
users['Brand'] = users['Brand'].apply(add_brand)

In [35]:
users['Brand'].value_counts()

Dell                  70
HP                    64
Asus                  35
Acer                  32
Lenovo                12
Apple                  7
Toshiba                3
MSI                    2
Samsung                1
Singer                 1
Fujitsu Lifebook A     1
Name: Brand, dtype: int64

In [36]:
df = pd.merge(users,laptops,on='Brand')

In [37]:
df.head(2)

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus M515,AMD Ryzen 3,4GB,1TB,"15.6""",Windows 10,AMD,1.8,1,139000.0
1,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus VivoBook K513EA-L11647T,Intel Core i3,4GB,512GB SSD,"15.6""",Windows 10,Intel,1.8,2,168000.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55682 entries, 0 to 55681
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Timestamp             55682 non-null  object
 1   Gender                55682 non-null  object
 2   Age Range             55682 non-null  object
 3   Occupation            55682 non-null  object
 4   Monthly Income Range  55682 non-null  object
 5   Brand                 55682 non-null  object
 6   Model                 55682 non-null  object
 7   Processor             55682 non-null  object
 8   RAM                   55682 non-null  object
 9   Storage Capacity      55682 non-null  object
 10  Display Size          55682 non-null  object
 11  OS                    55682 non-null  object
 12  GPU                   55682 non-null  object
 13  Weight                55682 non-null  float64
 14  Warranty              55682 non-null  int64
 15  Price                 55682 non-null  float64
dtypes: float64(2), int64(1), object(13)
memory usage: 7.2+ MB

In [39]:
df.shape

(55682, 16)

In [40]:
df['RAM'] = df['RAM'].str.replace('GB','').astype('int32')

In [41]:
df.isnull().sum()

Timestamp               0
Gender                  0
Age Range               0
Occupation              0
Monthly Income Range    0
Brand                   0
Model                   0
Processor               0
RAM                     0
Storage Capacity        0
Display Size            0
OS                      0
GPU                     0
Weight                  0
Warranty                0
Price                   0
dtype: int64

In [42]:
df.corr()['Price']

RAM         0.690814
Weight      0.246688
Warranty    0.012729
Price       1.000000
Name: Price, dtype: float64

In [43]:
df['Brand'].value_counts()

Dell       23590
HP         17536
Asus        6930
Lenovo      3696
Acer        3456
Apple        175
MSI          146
Toshiba      144
Samsung        9
Name: Brand, dtype: int64

In [44]:
df.head()

,Timestamp,Gender,Age Range,Occupation,Monthly Income Range,Brand,Model,Processor,RAM,Storage Capacity,Display Size,OS,GPU,Weight,Warranty,Price
0,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus M515,AMD Ryzen 3,4,1TB,"15.6""",Windows 10,AMD,1.8,1,139000.0
1,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus VivoBook K513EA-L11647T,Intel Core i3,4,512GB SSD,"15.6""",Windows 10,Intel,1.8,2,168000.0
2,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus VivoBook M513UA-L1289T,AMD Ryzen 7,8,512GB SSD,"15.6""",Windows 10,AMD,1.8,2,255000.0
3,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus ExpertBook L1500CDA-BQ0655,AMD Ryzen 3,4,256GB SSD,"15.6""",Windows 10,AMD,1.8,2,131500.0
4,3/9/2022 12:59:00,Male,21 - 30,Associate software engineer,50k - 100k,Asus,Asus VivoBook M513UA-L1288T,AMD Ryzen 5,8,512GB SSD,"15.6""",Windows 11,AMD,1.8,2,219000.0